<div class="jumbotron">
  <h3>Top 30 Hacker News Stories</h3>
</div>

<div class="row marketing" ng-show="main.loaded">
  <ul class="list-group">
    <li ng-repeat="story in main.stories">
      <div class="panel panel-primary">
        <div class="panel-heading" ng-click="openLink(story)">{{story.title}}</div>
          <div class="panel-body">
          <div class="storyauthor">
            <p class="author">Author: {{story.by}}</p>
          </div>
          <div class="storyScoreComments">
            <p class="score">Score: {{story.score}}</p>
            <p class="comments">{{story.descendants}} Comments</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
